@charset "UTF-8";
.canvas-container {
        border:1px solid red;
        background: #FFF;
        box-sizing: border-box;
		margin : 0 auto;
    }
    .yoko {
      position: relative;
        top:5em;
        left:0.8em;
        margin:0;
        padding:0;
        display: inline-block;
    }
    .tate {
      position: relative;
        top:0.2em;
        left:5.5em;
        margin:0;
        padding:0;
        display: inline-block;
    }
    

	.table .tb_tit {
	text-align:center;
}

.table .tb_tit_fileName {
	text-align:left;
}

.txt_center {
	text-align : center;
}

.file_txt {
	text-align : left;
}

.trow:hover {
	background-color: #d3d3d3;
}

.simple-pagination ul {
	margin-left:50%;
}
